header.page-header {
  background: no-repeat left/cover url("../img/header.jpg");
  display: flex;
  height: 350px;
  min-width: 120px;
}
.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: Arial; */
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
  font-size: 300%;
}
header {
  height: 100px;
}
footer {
  height: 80px;
  padding-top: 30px;
  text-align: center;
  background-color: #FF6F61;
  border-top: 2px solid #AAA;
}
body {
  font-family: 'Century Gothic', Calibri, serif;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  background-color: #F5D6C6;
}
nav {
  width: 100%;
  background-color: #77212E; /*#2DABE3*/
}
ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
li {
  list-style-type: none;
}
a {
  display: inline-block;
  text-decoration: none;
  padding: 20px 30px;
  color: #F5D6C6;
  text-transform: uppercase;
  font-size: 15px;
}
/* HOVER BUTTONS */
.menu-ind1:hover {
  border-top: 5px solid #44CC88;
  background-color: RGBa(64, 200, 130, 0.15);
}
.menu-ind2:hover {
  border-top: 5px solid #F1DC4F;
  background-color: RGBa(241, 211, 79, 0.15);
}
.menu-ind3:hover {
  border-top: 5px solid #0070BB;
  background-color: RGBa(000, 112, 192, 0.15);
}
.menu-ind4:hover {
  border-top: 5px solid #E44D26;
  background-color: RGBa(228, 77, 38, 0.15);
}
nav li:hover a {
  padding: 15px 30px 20px 30px;
}
input {
  margin: .4rem 0;
}
/* SEARCH BAR */
::placeholder {
  font-style: italic
}
#searchbar {
  display: flex;
  align-items: center;
}
#maRecherche, button {
  border-radius: 25px;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 16px;
}
#presentation {
  color: #F5D6C6;
  background-color: #9B1B30;
  padding: 10px 30px;
}
article {
  margin-left: 30px;
  margin-right: 30px
  padding: 0px;
  display: flex;
  flex-direction: row;
}
h2 {
  color: #0F0F0F;
  font-weight: bold;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 30px;
}
.imageSize {
	width: 50%;
	height: 50%;
  margin-bottom: 10px;
}
img{
  width: 100%;
}
.column {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start; */
  padding: 10px 30px;
}
